html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: Circular-Medium, Helvetica, Sans-Serif; }

.width-lg {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1250px; }

a {
  cursor: pointer; }

#content {
  min-height: 100%; }

.landing header {
  height: 80px;
  background: #25265E;
  display: flex;
  align-items: center;
  justify-content: center; }
  .landing header .header-wrapper {
    width: 100%;
    max-width: 1250px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .landing header .header-wrapper > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
  .landing header a {
    margin-right: 40px; }
    .landing header a.app-name {
      font-family: Circular-Heavy;
      font-size: 32px; }
    .landing header a.link {
      font-family: Circular-Light;
      font-size: 20px; }
  .landing header .user-icon {
    background: #2B66F4;
    height: 40px;
    width: 40px;
    border-radius: 40px; }

.landing-logo {
  background-image: url("../images/logo.png");
  width: 200px;
  height: 200px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 100px auto 20px; }

.landing h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  margin: 0px auto; }

.landing h1 a {
  text-decoration: none;
  color: white; }

.landing ul {
  list-style: none;
  text-align: center;
  padding: 0;
  text-decoration: none; }

.landing ul li {
  padding-top: 3px; }

.landing ul li a {
  text-decoration: none;
  color: white; }

.sign-in h1, .pw-forgot h1, .sign-up h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 0px auto;
  margin-top: 40%;
  margin-bottom: 30px; }

.sign-in form, .pw-forgot form, .sign-up form, .pw-change form, .links-page form {
  width: 90%;
  margin: 0 auto; }

.sign-in form input, .pw-forgot form input, .sign-up form input, .pw-change form input, .links-page form input {
  width: 95%;
  padding: 7px 7px;
  margin: 5px 0px;
  border: 0; }

.sign-in form .sign-in-btn, .pw-forgot form .pw-forgot-btn, .sign-up form .sign-up-btn, .pw-change form .pw-change-btn, .links-page form .add-link {
  width: 100%;
  display: flex; }

.landing button, .sign-in form .sign-in-btn button, .pw-forgot form .pw-forgot-btn button, .sign-up form .sign-up-btn button, .pw-change form .pw-change-btn button, .links-page form .add-link button {
  margin: 0 auto;
  width: 50%;
  margin-top: 5px;
  height: 28px;
  border-radius: 3px;
  background-color: #f08b8b;
  color: #ffffff;
  border: 0; }

.sign-in .landing-logo {
  background-image: url("../images/logo.png");
  width: 50px;
  height: 50px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 100px auto 20px; }

.sign-in .forgot-pw, .sign-in .no-account {
  text-align: center;
  margin: 10px 0;
  font-size: 13px; }

.sign-in .forgot-pw a, .sign-in .no-account a {
  text-decoration: none;
  color: #f08b8b; }

.pw-forgot .landing-logo, .sign-up .landing-logo {
  background-image: url("../images/logo.png");
  width: 50px;
  height: 50px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 200px auto 20px; }

.sign-up .landing-logo {
  background-image: url("../images/logo.png");
  width: 50px;
  height: 50px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 150px auto 20px; }

.acc-page-main .wrap {
  word-wrap: break-word; }

.acc-page-main h2, .links-page h2, .links-page h1 {
  text-align: center;
  color: white;
  margin: 0px auto; }

.acc-page-main .person-icon {
  background-image: url("../images/person.png");
  width: 80px;
  height: 80px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 50px auto 10px;
  border-radius: 50px; }

.acc-page-main .details {
  margin: 50px 20px 10px; }

.acc-page {
  margin-top: 300px;
  text-align: center;
  color: #ffe1e1;
  bottom: 50px;
  right: 25%;
  left: 25%;
  position: absolute; }

.acc-page a {
  text-decoration: none;
  color: #ffe1e1;
  font-size: 13px; }

.error-msg {
  font-size: 12px;
  font-style: italic;
  color: #f08b8b;
  margin: 0;
  margin-bottom: 5px; }

@font-face {
  font-family: 'Circular-Heavy';
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Circular-Medium';
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Circular-Light';
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
