html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: Circular-Medium, Helvetica, Sans-Serif; }

.width-lg {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1250px; }

a {
  cursor: pointer; }

#content {
  min-height: 100%; }

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  height: 80px;
  background: #25265E;
  display: flex;
  align-items: center;
  justify-content: center; }
  header .header-wrapper {
    width: 100%;
    max-width: 1250px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    header .header-wrapper > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
  header a {
    margin-right: 40px; }
    header a:last-child {
      margin-right: 0; }
    header a.app-name {
      font-family: Circular-Heavy;
      font-size: 32px;
      color: #fff;
      text-decoration: none; }
    header a.link {
      font-family: Circular-Light;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      border-bottom: 2px solid transparent; }
      header a.link.active {
        border-bottom: 2px solid #fff; }
  header .user-icon {
    background: #2B66F4;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    overflow: hidden; }
    header .user-icon img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.landing {
  margin-top: 110px; }
  .landing h2 {
    font-family: Circular-Medium;
    font-size: 32px;
    margin-bottom: 24px;
    color: #26275D; }
  .landing .rooms-wrapper .rooms-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px; }
    .landing .rooms-wrapper .rooms-row .room-card.large {
      margin-right: 30px;
      width: 610px; }
      .landing .rooms-wrapper .rooms-row .room-card.large:last-child {
        margin-right: 0; }
    .landing .rooms-wrapper .rooms-row .room-card.small {
      margin-right: 30px;
      width: 396px; }
      .landing .rooms-wrapper .rooms-row .room-card.small:last-child {
        margin-right: 0; }
    .landing .rooms-wrapper .rooms-row .room-card .room-photo {
      background: #cecece;
      width: 100%;
      height: 275px;
      margin-bottom: 18px;
      overflow: hidden; }
      .landing .rooms-wrapper .rooms-row .room-card .room-photo img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .landing .rooms-wrapper .rooms-row .room-card .name {
      font-family: Circular-Heavy;
      font-size: 24px;
      margin-bottom: 8px; }
      .landing .rooms-wrapper .rooms-row .room-card .name a {
        text-decoration: none;
        color: #26275D; }
    .landing .rooms-wrapper .rooms-row .room-card .description {
      margin: 0;
      font-family: Circular-Light;
      font-size: 18px; }
  .landing .home-wrapper {
    display: flex;
    flex-direction: row; }
    .landing .home-wrapper article {
      display: flex;
      flex-direction: column;
      color: #26275D;
      width: 434px;
      margin-right: 90px;
      justify-content: center; }
      .landing .home-wrapper article h1 {
        font-size: 72px;
        line-height: 80px;
        font-family: Circular-Heavy;
        margin-bottom: 5px;
        margin-top: 0; }
      .landing .home-wrapper article p {
        font-size: 40px;
        font-family: Circular-Medium;
        margin: 0; }
    .landing .home-wrapper .image-wrapper {
      width: 740px; }
      .landing .home-wrapper .image-wrapper img {
        object-fit: cover;
        width: 100%; }

.reserve-wrapper {
  margin-top: 110px; }
  .reserve-wrapper h2 {
    font-family: Circular-Medium;
    font-size: 32px;
    margin-bottom: 24px;
    color: #26275D; }
  .reserve-wrapper .top-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 48px; }
    .reserve-wrapper .top-row .booking-form {
      background: #F8F9FC;
      width: 396px;
      height: 395px;
      margin-right: 30px;
      padding: 50px 38px; }
      .reserve-wrapper .top-row .booking-form form {
        display: flex;
        flex-direction: column; }
        .reserve-wrapper .top-row .booking-form form label {
          font-size: 20px;
          font-family: Circular-Medium;
          margin-bottom: 8px; }
        .reserve-wrapper .top-row .booking-form form input {
          font-size: 20px;
          font-family: Circular-Light;
          max-width: 100%;
          height: 50px;
          padding: 0 16px;
          background: #fff;
          border: 1px solid #D5D5D5;
          border-radius: 3px;
          margin-bottom: 32px; }
        .reserve-wrapper .top-row .booking-form form .book-cta {
          color: #fff;
          font-size: 20px;
          font-family: Circular-Medium;
          border-radius: 3px;
          border: 1px solid #06B14C;
          width: 100%;
          height: 50px;
          background: #06B14C;
          box-shadow: 0 3px 15px 0 rgba(6, 167, 71, 0.4); }
    .reserve-wrapper .top-row .room-information {
      width: 823px; }
      .reserve-wrapper .top-row .room-information .room-photo {
        height: 420px; }
        .reserve-wrapper .top-row .room-information .room-photo img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .reserve-wrapper .top-row .room-information h4 {
        font-size: 22px;
        font-family: Circular-Heavy;
        margin-bottom: 12px; }
      .reserve-wrapper .top-row .room-information p {
        font-size: 18px;
        font-family: Circular-Light;
        margin: 0; }
  .reserve-wrapper .calendar-wrapper {
    height: 500px;
    margin-bottom: 50px; }

.bookings-wrapper {
  margin-top: 110px; }
  .bookings-wrapper h2 {
    font-family: Circular-Medium;
    font-size: 32px;
    margin-bottom: 24px;
    color: #26275D; }
  .bookings-wrapper hr {
    border: 0.5px solid #25265E; }
  .bookings-wrapper .upcoming-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .bookings-wrapper .upcoming-wrapper .room-card {
      width: 396px;
      height: 430px;
      margin-right: 30px;
      margin-bottom: 42px; }
      .bookings-wrapper .upcoming-wrapper .room-card:nth-child(3n) {
        margin-right: 0; }
      .bookings-wrapper .upcoming-wrapper .room-card .room-photo {
        overflow: hidden;
        width: 100%;
        height: 275px;
        margin-bottom: 16px; }
        .bookings-wrapper .upcoming-wrapper .room-card .room-photo img {
          object-fit: cover;
          width: 100%;
          height: 100%; }
      .bookings-wrapper .upcoming-wrapper .room-card .cancel-booking {
        cursor: pointer;
        font-size: 18px;
        font-family: Circular-Medium;
        background: none;
        border: 1px solid #FD5C63;
        border-radius: 3px;
        padding: 6px 10px;
        margin-top: 10px;
        color: #FD5C63; }
      .bookings-wrapper .upcoming-wrapper .room-card h3 {
        font-size: 24px;
        font-family: Circular-Heavy;
        margin: 0 0 8px;
        color: #26275D; }
        .bookings-wrapper .upcoming-wrapper .room-card h3 a {
          text-decoration: none; }
      .bookings-wrapper .upcoming-wrapper .room-card p {
        margin: 0;
        font-size: 18px;
        line-height: 26px;
        font-family: Circular-Light; }

.login-wrapper, .pw-forgot-wrapper {
  margin-top: 150px; }
  .login-wrapper h2, .pw-forgot-wrapper h2 {
    text-align: center;
    font-family: Circular-Heavy;
    font-size: 32px;
    color: #26275D; }
  .login-wrapper .form-wrapper, .pw-forgot-wrapper .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 396px;
    height: auto;
    padding: 36px 38px 50px;
    margin: auto;
    background: #F8F9FC;
    border-top: 4px solid #2B66F4;
    box-shadow: 0 3px 25px 0 rgba(40, 99, 242, 0.2); }
  .login-wrapper form, .pw-forgot-wrapper form {
    display: flex;
    flex-direction: column; }
    .login-wrapper form label, .pw-forgot-wrapper form label {
      font-size: 20px;
      font-family: Circular-Medium;
      margin-bottom: 8px; }
    .login-wrapper form input, .pw-forgot-wrapper form input {
      font-size: 20px;
      font-family: Circular-Light;
      max-width: 100%;
      height: 50px;
      padding: 0 16px;
      background: #fff;
      border: 1px solid #D5D5D5;
      border-radius: 3px;
      margin-bottom: 32px; }
      .login-wrapper form input.login-password, .login-wrapper form input.forgot-email, .pw-forgot-wrapper form input.login-password, .pw-forgot-wrapper form input.forgot-email {
        margin-bottom: 5px; }
    .login-wrapper form button, .pw-forgot-wrapper form button {
      cursor: pointer;
      background: #2B66F4;
      border-radius: 3px;
      font-family: Circular-Medium;
      font-size: 20px;
      color: #FFFFFF;
      width: 100%;
      height: 50px;
      border: none;
      margin-top: 32px; }
  .login-wrapper .forgot-pw, .pw-forgot-wrapper .forgot-pw {
    text-align: center; }
    .login-wrapper .forgot-pw a, .pw-forgot-wrapper .forgot-pw a {
      color: #2B66F4;
      text-decoration: none; }
      .login-wrapper .forgot-pw a:hover, .pw-forgot-wrapper .forgot-pw a:hover {
        text-decoration: underline; }
  .login-wrapper .no-account, .pw-forgot-wrapper .no-account {
    text-align: center;
    margin: 0; }
    .login-wrapper .no-account a, .pw-forgot-wrapper .no-account a {
      color: #2B66F4;
      text-decoration: none; }
      .login-wrapper .no-account a:hover, .pw-forgot-wrapper .no-account a:hover {
        text-decoration: underline; }

.signup-wrapper {
  margin-top: 150px; }
  .signup-wrapper h2 {
    text-align: center;
    font-family: Circular-Heavy;
    font-size: 32px;
    color: #26275D; }
  .signup-wrapper .form-wrapper {
    display: flex;
    flex-direction: column;
    width: 396px;
    height: auto;
    padding: 36px 38px 50px;
    margin: auto;
    background: #F8F9FC;
    border-top: 4px solid #06B14C;
    box-shadow: 0 3px 25px 0 rgba(7, 89, 40, 0.15); }
  .signup-wrapper form {
    display: flex;
    flex-direction: column; }
    .signup-wrapper form label {
      font-size: 20px;
      font-family: Circular-Medium;
      margin-bottom: 8px; }
    .signup-wrapper form input {
      font-size: 20px;
      font-family: Circular-Light;
      max-width: 100%;
      height: 50px;
      padding: 0 16px;
      background: #fff;
      border: 1px solid #D5D5D5;
      border-radius: 3px;
      margin-bottom: 32px; }
      .signup-wrapper form input.confirm-password {
        margin-bottom: 5px; }
    .signup-wrapper form button {
      cursor: pointer;
      background: #06B14C;
      border-radius: 3px;
      font-family: Circular-Medium;
      font-size: 20px;
      color: #FFFFFF;
      width: 100%;
      height: 50px;
      border: none;
      margin-top: 32px; }

.acc-page-wrapper {
  margin-top: 150px; }
  .acc-page-wrapper h2 {
    text-align: center;
    font-family: Circular-Heavy;
    font-size: 32px;
    color: #26275D; }
  .acc-page-wrapper .details-wrapper {
    display: flex;
    flex-direction: column;
    width: 396px;
    height: auto;
    padding: 36px 38px 50px;
    margin: auto;
    background: #F8F9FC;
    border-top: 4px solid #2B66F4;
    box-shadow: 0 3px 25px 0 rgba(40, 99, 242, 0.2); }
    .acc-page-wrapper .details-wrapper label {
      font-size: 20px;
      font-family: Circular-Medium;
      margin-bottom: 8px;
      color: #26275D; }
    .acc-page-wrapper .details-wrapper p {
      font-size: 20px;
      font-family: Circular-Light;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 24px; }
    .acc-page-wrapper .details-wrapper form {
      display: flex;
      flex-direction: column; }
      .acc-page-wrapper .details-wrapper form label {
        font-size: 20px;
        font-family: Circular-Medium;
        margin-bottom: 8px; }
      .acc-page-wrapper .details-wrapper form input {
        font-size: 20px;
        font-family: Circular-Light;
        max-width: 100%;
        height: 50px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #D5D5D5;
        border-radius: 3px;
        margin-bottom: 32px; }
        .acc-page-wrapper .details-wrapper form input.confirm-password {
          margin-bottom: 5px; }
      .acc-page-wrapper .details-wrapper form button {
        cursor: pointer;
        background: #2B66F4;
        border-radius: 3px;
        font-family: Circular-Medium;
        font-size: 20px;
        color: #FFFFFF;
        width: 100%;
        height: 50px;
        border: none;
        margin-top: 32px; }

.error-msg {
  font-size: 12px;
  font-style: italic;
  color: #f08b8b;
  margin: 0;
  margin-bottom: 5px; }

@font-face {
  font-family: 'Circular-Heavy';
  src: url("/fonts/CircularStd-Black.woff2") format("woff2"), url("/fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Circular-Medium';
  src: url("/fonts/CircularStd-Medium.woff2") format("woff2"), url("/fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Circular-Light';
  src: url("/fonts/CircularStd-Book.woff2") format("woff2"), url("/fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
